.address-edit-page {
    margin: 96px;
}

.purchase-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    padding: 93px 80px;
    margin: 0 auto;
    max-width: 1600px;
}

.purchase-right {
    min-width: 360px;
}

.product-summary {
    display: flex;
    gap: 55px;
    margin-bottom: 52px;
}

.product-summary-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.product-summary-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px 0;
}

.product-summary-price {
    font-size: 33px;
    font-weight: 400;
    margin: 0;
}

.product-summary-price-label {
    font-size: 27px;
    font-weight: 400;
    margin-right: 5px;
}

.divider {
    border: none;
    border-top: 1px solid #000;
}

.payment-method,
.shipping-address {
    padding: 25px 40px 59px;
}

.payment-method-title,
.shipping-address-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.payment-method-input-area {
    margin: 40px 0 0 60px;
}

.payment-method-select {
    width: 265px;
    padding: 4px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
    background: #fff;
    font-size: 16px;
    font-weight: 700;
    color: #5f5f5f;
    line-height: 1.2;
}

.payment-method-select option {
    background-color: #636769;
    color: #fff;
}

.shipping-address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-address-edit {
    font-size: 20px;
    color: #0073cc;
    text-decoration: none;
}

.shipping-address-info {
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin: 40px 0 0 60px;
}

.purchase-summary {
    border: 1px solid;
}

.summary-list {
    margin: 0;
}

.summary-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.summary-row + .summary-row {
    border-top: 1px solid; /* 中央の区切り線 */
}

.summary-row-title {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 30px 10px;
}

.summary-row-value {
    margin: 0;
    text-align: center;
    font-size: 24px;
    padding: 30px 10px;
}

.summary-row-value span {
    font-size: 20px;
    margin-right: 5px;
}

.btn-purchase {
    height: 60px;
    font-size: 26px;
    font-weight: 700;
    margin-top: 66px;
}

@media (max-width: 1000px) {
    .purchase-container {
        grid-template-columns: 1fr; /* 縦積み */
        gap: 40px;
        padding: 40px 20px;
    }
}
